*{
    margin: 0;
    padding: 0;
}


.cont {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2%;
    gap: 2%;
}
a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color:white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:active {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
