/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff5e1;
    color: black;
}

.confirmation-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #d17a22;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
   
}

.header h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color:orange;
}